<div class="input">
    <label class="input__label disabled" for="input">{{this.label}}</label>
    <input class="input__field {{this.class}}" type={{this.type}} id="input" name={{this.name}} placeholder={{this.placeholder}}>
    <p class="input__error disabled">{{this.errorMessage}}</p>
</div>
