<li class="input">
    <label class="input__label" for={{name}}>{{label}}</label>
    <input class="input__field {{class}}" type={{type}} id={{name}} name={{name}} placeholder={{placeholder}}>
    <p class="input__error disabled">{{errorMessage}}</p>
</li>
